@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>


<div>Aleksei Nechaev
    </br> 
    Is a novice but passionate gamer, his favorite games include: Minecraft and Call of Duty.
</div>

<p>
    Hari Narayanan Sathyanarayanan
    </br>
    Enjoys Open World RPG Games like GTA V.
</p>

<p>
    Aleksei Nechaev
    </br>
    Is a MASSIVE Halo Fan.
</p>

<p>
    Steven Lin
    </br>
    Loves playing Real Time Strategy like Civilzation 6.
</p>
