@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

    <div style="max-width:750px">
    <p class="text-decoration-underline">
        Aleksei Nechaev
      </p>
      <p>
        Is a novice but passionate gamer, his favorite games include: Minecraft and Call of Duty.
    </p>
    </div>


<div style="max-width:750px">
    <p class="text-decoration-underline">
        Hari Narayanan Sathyanarayanan
    </p>
    <p>
       Enjoys Open World RPG Games like GTA V.
    </p>
</div>

<div style="max-width:750px">
    <p class ="text-decoration-underline">
        Scott Dominic
    </p>
    <p>
        Is a Massive Halo fan.
    </p>
</div>


<div style="max-width:750px">
    <p class="text-decoration-underline">
        Steven Lin
    </p>
    <p>
        Loves playing Real Time Strategy like Civilzation 6.
    </p>
</div>
