@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>


<div class="profile-container">
    <div class="profile-content">
        <p class="text-decoration-underline">
            Hari Narayanan Sathyanarayanan
        </p>
        <p>
            Enjoys Open World RPG Games like GTA V..
            <!-- ... rest of the content ... -->
        </p>
        <a href="https://www.linkedin.com/in/hari0616/" class="btn btn-primary">Linked-In</a>
    </div>
    <img class="profile-image" src="~/images/giphy.gif" alt="Aleksei Image">
</div>

<div class="profile-container">
    <div class="profile-content">
        <p class="text-decoration-underline">
            Aleksei Nechaev
        </p>
        <p>
            Is a novice but passionate gamer, his favorite games include: Minecraft and Call of Duty.
            <!-- ... rest of the content ... -->
        </p>
        <a href="https://www.linkedin.com/in/alekseinechaev/" class="btn btn-primary">Linked-In</a>
    </div>
    <img class="profile-image" src="~/images/giphy.gif" alt="Aleksei Image">
</div>

<div class="profile-container">
    <div class="profile-content">
        <p class="text-decoration-underline">
            Steven Lin
        </p>
        <p>
            Loves playing Real Time Strategy like Civilzation 6.
            <!-- ... rest of the content ... -->
        </p>
        <a href="https://www.linkedin.com/in/steven-lin-b1182426b/" class="btn btn-primary">Linked-In</a>
    </div>
    <img class="profile-image" src="~/images/giphy.gif" alt="Aleksei Image">
</div>

<div class="profile-container">
    <div class="profile-content">
        <p class="text-decoration-underline">
            Dominic Scott
        </p>
        <p>
            Loves anything and everything Pokémon! Plays the games all the time with friends!
            <!-- ... rest of the content ... -->
        </p>
        <a href="https://www.linkedin.com/in/dominicthescott" class="btn btn-primary">Linked-In</a>
    </div>
    <img class="profile-image" src="~/images/giphy.gif" alt="Aleksei Image">
</div>
