@{
    ViewData["Title"] = "Fun Game Facts";
}

<div class="container marketing">

    <h1 class="text-center">Fun Video Gaming Facts!!!</h1>
    
    <h3 class="text-center">A compilation of our favorite facts about games we love!</h3>
    <hr class="featurette-divider">
    <!-- Three columns for fun facts -->
    <div class="row">
        <div class="col-lg-4">

            <!--Pokémon-->

            <img class="rounded-circle" src="https://yt3.googleusercontent.com/pK5_z_dptxyLuGllTGH4voHjz6WNTv0vgysrHQtmK6X45fl8g_h1ytu1H-ir1ExvY8uph0MbQA=s900-c-k-c0x00ffffff-no-rj" alt="Pikachu" width="140" height="140">
            <h2>Pokémon</h2>
            <p>Is the world's highest grossing media franchise, at an estimated $88 billion in revenue</p>
            <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/List_of_highest-grossing_media_franchises" role="button">View more on Wikipedia</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">

            <!--Pac-Man-->

            <img class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Original_PacMan.svg/640px-Original_PacMan.svg.png" alt="Pac-man" width="140" height="140">
            <h2>Pac-Man</h2>
            <p>Is litteraly designed as a Pizza missing a slice! In 1980, the developers had ordered a pizza and found the inspiration for the titular game character based on the food!</p>
            <p><a class="btn btn-secondary" href="https://www.pacman.com/en/" role="button">Check out Pac-Man's Website</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">

            <!--Tetris-->

            <img class="rounded-circle" src="https://www.cnet.com/a/img/resize/a90802aafc4161528b929224c344a17c9c74c872/hub/2020/01/22/be798775-3467-49ec-9cf7-8d72b7118f56/screen-shot-2020-01-22-at-2-33-43-pm.png?auto=webp&fit=crop&height=1200&width=1200" alt="Tetris" width="140" height="140">
            <h2>Tetris</h2>
            <p>Was the first ever video game to be played in space. The cosmonaut Aleksandr A. Serebrov played the game on a GameBoy aboard a a Soyuz TM-17 rocket in 1993.</p>
            <p><a class="btn btn-secondary" href="https://www.nintendo.com/us/store/products/tetris-99-switch/" role="button">Try Tetris 99 on Nintendo Switch!</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- Three more columns for fun facts -->
    <div class="row">
        <div class="col-lg-4">

            <!--Dreamcast-->

            <img class="rounded-circle" src="https://res.cloudinary.com/teepublic/image/private/s--aDtUKHpN--/c_crop,x_10,y_10/c_fit,h_727/c_crop,g_north_west,h_1038,w_1038,x_-173,y_-156/l_upload:v1565806151:production:blanks:vdbwo35fw6qtflw9kezw/fl_layer_apply,g_north_west,x_-284,y_-267/b_rgb:484849/c_limit,f_auto,h_630,q_auto:good:420,w_630/v1575071875/production/designs/6953856_0.jpg" alt="Sega Dreamcast" width="140" height="140">
            <h2>The Sega Dreamcast</h2>
            <p>Was the first-ever video game console to have online functionality, released in 1999.</p>
            <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Dreamcast" role="button">Learn more about the Dreamcast</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">

            <!--Minecraft-->

            <img class="rounded-circle" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/866b6140-6e65-48fe-82b8-09d1c6dfcde3/d9hlkmq-f228b3fc-dd24-421b-8e60-0a4dadc17f46.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzg2NmI2MTQwLTZlNjUtNDhmZS04MmI4LTA5ZDFjNmRmY2RlM1wvZDlobGttcS1mMjI4YjNmYy1kZDI0LTQyMWItOGU2MC0wYTRkYWRjMTdmNDYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.cDwaTAxOJkydt9ivcNTvBjvuZr7xOi6wpSqADqtDP6E" alt="Minecraft" width="140" height="140">
            <h2>Minecraft</h2>
            <p>Is the highest-selling video game of all time, at over 300 million copies sold worldwide.</p>
            <p><a class="btn btn-secondary" href="https://www.minecraft.net/en-us" role="button">Check out Minecraft!</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">

            <!--PS2-->

            <img class="rounded-circle" src="https://m.media-amazon.com/images/I/51-toNb6MzL.jpg" alt="PS2" width="140" height="140">
            <h2>The PlayStation 2</h2>
            <p>Is the highest-selling video game console of all time at 155 million, with the Nintendo DS following closely behind at 154.02 million.</p>
            <p><a class="btn btn-secondary" href="https://www.playstation.com/en-us/ps5/" role="button">Buy a PlayStation5</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider">
    <h1 class="text-center">Top 2022 Game Awards Winners</h1>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">God of War Ragnarok<br><span class="text-muted">Best Narrative</span>
                <br><span class="text-muted">Best Score and Music</span>
                <br><span class="text-muted">Best Audio Design</span>
                <br><span class="text-muted">Best Performance</span>
                <br><span class="text-muted">Best Action/Adventure</span>
                <br><span class="text-muted">Innovation in Accessibility</span>
            </h2>
            
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="https://assets-prd.ignimgs.com/2021/09/09/god-of-war-ragnarok-button-1631231879154.jpg" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Stray
                <br><span class="text-muted">Best Indie</span>
                <br><span class="text-muted">Best Debut Indie</span>
            </h2>
            
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="https://image.api.playstation.com/vulcan/ap/rnd/202206/0300/E2vZwVaDJbhLZpJo7Q10IyYo.png" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">
                Elden Ring<br><span class="text-muted">Game of the Year</span>
                <br><span class="text-muted">Best Game Direction</span>
            </h2>

        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="https://image.api.playstation.com/vulcan/ap/rnd/202110/2000/aGhopp3MHppi7kooGE2Dtt8C.png" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

</div>