@{
    ViewData["Title"] = "Your Favorite Games";
}

@model FavGames.Models.ContactFormModel

<div class="main-content">
    <h1>Welcome to Your Favorite Games</h1>
    <!-- Giphy embed code -->
    <img src="~/images/giphy.gif" alt="Animated background" style="width:100%; height:auto;">

</div>

<footer class="border-top footer text-muted" style="display: flex; justify-content: space-between; align-items: center;">
    <span style="text-align: center;">&copy; 2023 Epic Team 3.Inc</span>
    <div style="text-align: right;">
        <button style="background-color: #184b9e; color: white;" onclick="location.href='@Url.Action("Contact", "Home")'"> Contact </button>
    </div>
</footer>

